h3 {
    margin-top: 1em;
}

main a {
    text-decoration: none;
    color: var(--couleurAccentuation);
}

main a:hover {
    color: var(--couleurPrincipale);
}

/* petit écran */
@media screen and (max-width: 500px){
    iframe {
        width: 15em;
    }
}
