h3 {
    margin-top: 1em;
}

main img {
    margin-bottom: 2em;
}

.infographie {
    display: flex;
    align-items: center;
}

.imgMelanie {
    width: 100%;
}

h5 {
    font-family: 'Cavolini';
}

.intro img {
    float: left;
    width: 8em;
    margin: 0;
    margin-right: 0.3em;
}