footer {
    
    bottom: 0;
    background-color: var(--couleurSecondaire);
}

footer img {
    width: 100%;
    padding: 5%;
}

footer p {
    margin: 0;
}

footer .col-md,  footer .col-md-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--couleurAccentuation);
}

footer a:hover {
    color: var(--couleurPrincipale);
}

.lienChache, .lienChache:hover {
    text-decoration: none;
    color: var(--texteFonce);
}

/* grand écran */
@media screen and (max-width: 830px){
    footer img {
        width: 8em;
    }
}

/* petit écran */
@media screen and (max-width: 500px){
    footer img {
        width: 5em;
    }
}