/* les couleur du site */
:root {
    --couleurPrincipale: #002199;
    --couleurSecondaire: #CCEDFF;
    --couleurAccentuation: #002199;
    --texteFonce: #000;
    --texteClair: #fff;
}

/* commun partout */
@font-face {
    font-family: 'Open sans';
    src: url(res/polices/open\ sans/OpenSans-Regular-webfont.ttf);
}

@font-face {
    font-family: 'Cavolini';
    src: url(res/polices/cavolini/CAVOLINI.TTF);
}

.banner img {
    width: 100%;
}

main {
    padding-bottom: 5vh;
    min-height: 90vh;
}

body {
    position: relative;
    font-family: 'Open sans';
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-family: 'Cavolini';
    margin-bottom: 1em;
    color: var(--couleurPrincipale);
}

/* les elem du header */
header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--couleurAccentuation);
    background-image: url("res/images/illustrations/banniere.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lienNav {
    background-color: var(--couleurSecondaire);
    margin-bottom: 1em!important;
    display: hidden;
    transform: translateX(-100%);

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 0 10px 10px 0;
}

.lienNav.bouger {
    transform-origin: right;
    transform: translateX(0);
}

nav {
    background-color: var(--couleurPrincipale);
    background-color: rgba(173, 173, 173, 0.726);
    color: var(--texteFonce);
    height: 5em;
    border-bottom: solid 1px var(--couleurPrincipale);
}

#navbarToggleExternalContent a {
    text-decoration: none;
    color: var(--couleurAccentuation);
}

#navbarToggleExternalContent a:hover {
    color: var(--couleurPrincipale);
}

#navbarToggleExternalContent {
    background-color: var(--couleurSecondaire);
    background-color: rgba(173, 173, 173, 0.726);
    /* padding-left: 2em; */
    width: 100%;
    margin: 0;
    border-bottom: solid 1px var(--couleurPrincipale);
}

#navbarToggleExternalContent >* div {
    margin-bottom: 0.2%;
}

/* c'est le bouton pour afficher le menu */
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: var(--couleurPrincipale);
    border: none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 3px;
    background-color: var(--texteClair);
    margin-bottom: 5px;
}

/* c'est tous les boutons du site */

.btn-primary {
    background-color: var(--couleurPrincipale);
    color: var(--texteClair);
    border-style: none;
}

.btn-primary:hover {
    background-color: var(--couleurSecondaire);
    color: var(--texteFonce);
}

.btn-primary:active {
    background-color: var(--couleurSecondaire) !important;
    color: var(--texteFonce) !important;
}

/* c'est limage du logo en haut à droite */

#imgLogo {
    width: 10em;
    top: 0.3em;
    right: 0.3em;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    
}

#imgLogo.grandir {
    transform: translateX(calc(-50vw + 60%)) translateY(5em) scale(3);
}

#menu {
    width: 18em;
}

/* grand écran */
@media screen and (max-width: 830px){
    #imgLogo.grandir {
        transform:  translateX(calc(-25vw + 60%)) translateY(5em) scale(2);
    }

    #menu {
        width: 15em;
    }
}

/* petit écran */
@media screen and (max-width: 500px){
    #imgLogo.grandir {
        transform: scale(1);
    }
}