.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
    justify-content: center;
}

.carousel img {
    max-width: 80vh;
    height: 60vh;
    object-fit: contain;
}

.carousel {
    margin-top: 2em;
    margin-bottom: 2em;
}

.titreArt {
    background-color: var(--couleurSecondaire);
    margin-bottom: 1em;
    padding: 0.5em;
    margin-top: 1em;
}

.titreArt p, .titreArt h3 {
    margin: 0;
}

.heurePubli {
    justify-content: right;
}

.titreArt .col-md {
    display: flex;
    align-items: center;
}

.art img {
    max-width: 30em;
    object-fit: contain;
}

.imageArt {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    text-align: center;
}

.controlPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlPage a {
    text-decoration: none;
    color: var(--couleurAccentuation);
    font-size: 1.5em;
}

.controlPage a:hover {
    color: var(--couleurPrincipale);
}

#logo {
    margin: 1em;
    width: 30%;
}

/* petit écran */
@media screen and (max-width: 500px){
    main img {
        width: 50%;
    }

    .carousel img {
        width: 40vh;
        object-fit: contain;
    }
}