h3 {
    margin-top: 1em;
}

main img {
    max-width: 100%;
    margin: 2em;
}

main a {
    text-decoration: none;
    color: var(--couleurAccentuation);
}

main a:hover {
    color: var(--couleurPrincipale);
}