h3 {
    margin-top: 1em;
}

p {
    padding-left: 1em;
    color: var(--texteFonce);
}

main a {
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--texteClair);
}

main a:hover {
    border-color: var(--couleurPrincipale);
}