h3 {
    margin-top: 1em;
}

.boutonCreer {
    text-align: right;
}

.titreArt {
    background-color: var(--couleurSecondaire);
    padding: 0.5em;
}

.titreArt p, .titreArt h3 {
    margin: 0;
}

.heurePubli {
    justify-content: right;
}

.titreArt .col-md {
    display: flex;
    align-items: center;
}

.controlPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlPage a {
    text-decoration: none;
    color: var(--couleurAccentuation);
    font-size: 1.5em;
}

.controlPage a:hover {
    color: var(--couleurPrincipale);
}

.art {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    background-color: var(--couleurSecondaire);
}

.boutons {
    justify-content: right;
    align-items: center;
}

.boutonSupprimer, .boutonModifier {
    display: flex;
    justify-content: right;
}

.boutons a:hover, .boutons a:active {
    background-color: var(--texteClair) !important;
    color: var(--texteFonce) !important;
}

.boutonSupprimer a {
    background-color: rgb(165, 4, 4);
}

.titreArt {
    text-decoration: none;
    color: var(--texteFonce);
}

.titreArt:hover {
    color: var(--texteFonce);
    text-decoration: underline;
}