.titreArt {
    background-color: var(--couleurSecondaire);
    margin-bottom: 1em;
    padding: 0.5em;
}

.titreArt p, .titreArt h3 {
    margin: 0;
}

.heurePubli {
    justify-content: right;
}

.titreArt .col-md {
    display: flex;
    align-items: center;
}

.art img {
    max-width: 30em;
    object-fit: contain;
}

.imageArt {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.titreArt {
    margin-top: 2em;
}

.boutonRetour {
    margin-top: 1em;
}