/* les couleur du site */
:root {
    --couleurPrincipale: #002199;
    --couleurSecondaire: #CCEDFF;
    --couleurAccentuation: #002199;
    --texteFonce: #000;
    --texteClair: #fff;
}

/* commun partout */
@font-face {
    font-family: 'Open sans';
    src: url(../res/polices/open\ sans/OpenSans-Regular-webfont.ttf);
}

@font-face {
    font-family: 'Cavolini';
    src: url(../res/polices/cavolini/CAVOLINI.TTF);
}

main {
    padding-bottom: 15vh;
}

body {
    position: relative;
    font-family: 'Open sans';
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-family: 'Cavolini';
    margin-bottom: 1em;
    color: var(--couleurPrincipale);
}

/* les elem du header */
nav {
    background-color: var(--couleurPrincipale);
    color: var(--texteFonce);
}

#navbarToggleExternalContent a {
    text-decoration: none;
    color: var(--couleurAccentuation);
}

#navbarToggleExternalContent a:hover {
    color: var(--couleurPrincipale);
}

#navbarToggleExternalContent {
    background-color: var(--couleurSecondaire);
    padding-left: 2em;
}

#navbarToggleExternalContent div {
    margin-bottom: 0.2%;
}

/* c'est le bouton pour afficher le menu */
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: var(--couleurPrincipale);
    border: none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 3px;
    background-color: var(--texteClair);
    margin-bottom: 5px;
}

.btn-primary {
    background-color: var(--couleurPrincipale);
    color: var(--texteClair);
    border-style: none;
}

.btn-primary:hover {
    background-color: var(--couleurSecondaire);
    color: var(--texteFonce);
}

.btn-primary:active {
    background-color: var(--couleurSecondaire) !important;
    color: var(--texteFonce) !important;
}

.logo {
    width: 100%;
}