.champ {
    margin-bottom: 1em;
}

h3 {
    margin-top: 1em;
}

.paragaphe {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#boutonValider {
    justify-self: stretch;
    margin-top: 1em;
}

.erreur {
    color: red;
    font-size: 1.5em;
}

.success {
    color: green;
    font-size: 1.5em;
}