h3 {
    margin-top: 1em;
    margin-bottom: 0;
}

h4 {
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.fichiers section {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding: 0.5em;
    margin:0.5em 0 0.5em 0;
}

.fichiers section p {
    margin: 0;
    padding: 0.1em;
}

.elemFichier {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

#aide {
    display: none;
    background-color: var(--couleurSecondaire);
    padding: 0.5em;
}

.erreur {
    color: red;
}

.elemFichier >* p {
    word-break: break-all;
}