.boutonValider a {
    background-color: rgb(165, 4, 4);
}

.boutonValider a:hover, .boutonValider a:active {
    background-color: rgb(209, 5, 5) !important;
    color: var(--texteClair);
}

main p {
    margin-top: 1em;
}